body {
  background-color: gray;
}
.navbar {
  background-color: black;
  overflow: hidden;
}
.navbar a {
  color: white;
  text-align: center;
}
h1 {
  color: blue;
}
h2 {
  color: blue;
}
p {
  color: black;
}
